<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title id="title">2</title>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="/css/studypage.css">
    
    
    <!-- Font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Zen+Maru+Gothic:wght@400;500;700&display=swap" rel="stylesheet">
  
    <!-- font Awesemo -->
    <script src="https://kit.fontawesome.com/c7047e245b.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="app">
      <div class="common">
        
         <!-- SIDEBAR-LEFT -->
         <div class="sidebar-left">
          <!-- <img src="/images/moneyvate-logo.png" onclick="location.href='/'"> -->
          <a href="/"><h1>moneyvate</h1></a>
          <h2>コースを始めよう!</h2>
          <img src="/images/piggy-bank.png" class="piggy-bank">
          <button onclick="location.href='#'" id="logout" type="button" class="btn btn-light  btn-lg" >
            <i class="bi bi-box-arrow-left"></i>
            Logout
          </button> 
          
        </div>
        <!-- // SIDEBAR-LEFT -->

        
        <!-- MAIN -->
        <div class="main">
            <h1>2. 預貯金</h1>
            <img src="/images/studypage1.jpg" class="image">
          
            <div class="main-contents">
               <h4>目次</h4>
               <div class="contents-table">
                 <ul>
                   <li><a href="#title1">1.　概要</a></li>
                   <li><a href="#title2">2.　学ぶ必要性</a></li>
                   <li><a href="#title3">3.　まずはここから！</a></li>
                   <li><a href="#title4">4.　実際にシミュレーションしてみよう</a></li>
                   <li><a href="#title5">5.　学びを確認しよう</a></li>
                   <li><a href="#title6">6.　勉強になったサイトを載せよう</a></li>
                   <li><a href="#title7">7.　学んだことをシェアしよう</a></li>
                 </ul>
               </div>

                <h4 id="title1">概要</h4>
                <p>将来に向けてお金を準備するには、「資産形成」を行っていくことになります。「資産形成」とは自分の資産を増やすことが目的で、「貯蓄」と「投資」の2つの方法があります。一般的に「貯蓄」はお金を蓄えることで、銀行の預金などが該当します。
                  一方、「投資」は利益を見込んでお金を出すことで、株式や投資信託などの購入が該当します。日常生活にかかる費用を始めとしたすぐに必要となるかもしれないお金は「貯蓄」が向いています。将来のために増やしておきたいお金は株式や投資信託を利用した「投資」で、ある程度先を見越した備えのため活用するのに向いています。
                  また、「投資」には複利効果やリスクなどがあるためそれぞれの種類や内容を正しく理解することが重要です。</p>
                
                <h4 id="title2">学ぶ必要性</h4>
                <p>「資産形成」はセカンドライフを楽しむ鍵ともなります。 寿命が延びたことで、退職後のセカンドライフの期間も長くなっています。 自由な時間が増える一方、その分お金がかかる期間も長くなり、老後の生活費を確保するためや少子高齢化が進展されると予想されている現代で社会保障制度が今後どうなるかわからない状況であるため、自分の資産を増やす方法を学んで、今後の生活資金の確保につなげましょう。また、税金や金融商品の知識がないまま始めてしまうと、失敗すると資産が減るというリスクが高まります。自分に合う方法と目標を設定するためにも、自分自身のライフプランをしっかりと見つめ直しましょう。</p>

                <h4 id="title3">まずはここから！</h4>
               

                <h4 id="title4">実際にシミュレーションしてみよう</h4>
                <div class="d-flex position-relative">
                  <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="資産形成a">
                  <div>
                    <h5 class="mt-0">資産形成の勉強は何から始める？ | MINKABU</h5>
                    <p> </p>
                    <a href="https://mag.minkabu.jp/asset-formation/asset-building-learning/" class="stretched-link">https://www.fsa.go.jp/teach/simulation/household_spending.html</a>
                  </div>
                </div>
              <br>
                <div class="d-flex position-relative">
                  <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="資産形成a">
                  <div>
                    <h5 class="mt-0">投資の基本 | 金融庁</h5>
                    <p></p>
                    <a href="https://www.fsa.go.jp/policy/nisa2/knowledge/basic/index.html" class="stretched-link">https://www.jafp.or.jp/know/lifeplan/simulation/</a>
                  </div>
                </div>
                
                <!--- 
                <div class="linkcard">
                  <div class="lkc-internal-wrap">
                    <a class="lkc-link" href="https://www.fsa.go.jp/teach/simulation/household_spending.html">
                      <div class="lkc-contents">
                        <figure class="lkc-thumbnail">
                          <img class="lkc-thumbnail-img" src="/images/ロゴ.jpg" ali="家計管理シミュレーター">
                        </figure>
                        <div class="lkc-title-text">
                          <p>家計管理シミュレーターを試してみよう！</p>
                          <cite class="lck-url">
                              https://www.fsa.go.jp/teach/simulation/household_spending.html
                          </cite>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <br>
                <div class="linkcard">
                  <div class="lkc-internal-wrap">
                    <a class="lkc-link" href="https://www.jafp.or.jp/know/lifeplan/simulation/">
                      <div class="lkc-contents">
                        <figure class="lkc-thumbnail">
                          <img src="/images/ロゴ.jpg" ali="家計管理シミュレーター">
                        </figure>
                        <div class="lkc-title-text">
                          <p>ライフプラン診断を試してみよう！</p>
                          <cite class="lck-url">
                              https://www.jafp.or.jp/know/lifeplan/simulation/
                          </cite>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            -->

                <h4 id="title5">学びを確認しよう</h4>
                <div class="checkbox-style">
                 <input type="checkbox" name="check" id="check1" onclick="btn();" value="1"><label for="check1">資産形成とは何か理解できた</label><br>
                 <input type="checkbox" name="check" id="check2" onclick="btn();" value="2"><label for="check2">資産形成を行う2つの方法を理解できた</label><br>
                 <input type="checkbox" name="check" id="check3" onclick="btn();" value="3"><label for="check3">資産形成を学ぶ必要性について理解できた</label><br>
                 <input type="checkbox" name="check" id="check4" onclick="btn();" value="4"><label for="check4">記事をチェックした</label><br>
                 <input type="checkbox" name="check" id="check5" onclick="btn();" value="5"><label for="check5">シミュレーションを体験できた</label><br>
                </div>
                <button type="button" class="btn btn-outline-primary" id="course_complete">コース完了！</button>

        <!--- form -->
            <div class="form">
              <h4 id="title6">勉強になったサイトを載せよう</h4>
              <p>自分自身で調べ、参考になったサイトはありますか？<br>moneyvateでは、金融リテラシー向上を目指して学ぶ1人ひとりが、お互いをmotivateできる環境を作りたいと考えています。<br>一緒に学ぶ仲間のためにも、「勉強になった！」と思うサイトがあったら是非シェアしませんか？♪
              </p>

              <div class="form-link">
              <form action="" method="POST" class="form_share">
                <div class="mb-3">
                  <label for="exampleInputName1" class="form-label">Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" name="username">
                  <div id="nameHelp" class="form-text"></div>
                </div>
      
                <!--<div class="mb-3">
                  <label for="exampleInputName2" class="form-label">Comment</label>
                  <input type="Name" class="form-control" id="exampleInputName2" placeholder="コメントを追加しよう" aria-describedby="nameHelp">
                  <div id="nameHelp" class="form-text">コメントを追加しよう</div>
                </div>-->

                <div class="mb-3">
                  <label for="exampleInputUrl1" class="form-label">URL</label>
                  <input type="url" class="form-control" id="exampleInputUrl1" placeholder="https://example.com" name="link">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="サイトのおすすめポイントなど" rows="3" name="comment"></textarea>
                </div>
            <!-----
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
            ------>
                <button type="submit" class="btn btn-primary" id="share">Share</button>
              </form>
              
              <div class="comment-list">
                <% if (comments.length > 0) { %>
                  <p>Comment</p>
                  <ul>
                    <% for (let i = 0; i < comments.length; i++) { %>
                      <div class="balloon-left-parent">
                        <div class="balloon-left-child">
                          <li><span>投稿者：<%= comments[i].name %></span></li>
                          <li><span>役に立ったサイト：<a href="<%= comments[i].url %>" target="_blank"><%= comments[i].url %></a></span></li>
                          <li><span>コメント：<%= comments[i].comment %></span></li>
                        </div>
                      </div>
                    <% } %>
                  </ul>
                <% } %>
              </div>
            </div>
            <!--
              <div class="form-link">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Link</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                -->
              <!--------------
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
              ------------------->
          <!--    <button type="submit" class="btn btn-primary">Share</button>
                </form>
                </div>
            </div>
          -->
        <!--- // form -->


        <!-- sns-share -->
            <!-- <div class="sns-share">
                <h4 id="title7">学んだことをシェアしよう</h4>
                <p>得た学びを自分の言葉でアウトプットしよう！</p>
                <div class="sns-share-btn">
                  <ul>
                    <li>
                       <a class="sns-link" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiamEifQ%3D%3D%22%7D">
                           <img src="/images/Twitter-icon.png" alt="twitter-icon">
                       </a>
                    </li>
                    <li>
                       <a class="sns-link" href="https://www.facebook.com/campaign/landing.php?campaign_id=1665596389&extra_1=s%7Cc%7C321610682046%7Ce%7Cfacebook%7C&placement=&creative=321610682046&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1665596389%26adgroupid%3D65075436220%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D1009461%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMI5IyNj-_N_QIVk9KWCh0rnwACEAAYASAAEgJIbvD_BwE">
                           <img src="/images/facebook-logo.png" alt="facebook-icon">
                       </a>
                    </li>
                    <li>
                       <a class="sns-link" href="https://z-p15.www.instagram.com/accounts/login/?next=/p/CEma6jiqz1z/&source=post_comment_input&hl=ja">
                           <img src="/images/Instagram-icon.png" alt="instagram-icon">
                       </a>
                    </li>
                  </ul>
                </div>
              -->
        <!-- // sns-share --> 
        
         <!-- back to top button -->
         <div id="page_top">
          <a href="#"></a>
        </div>
      <!-- // back to top button --> 
              
        <!-- // MAIN -->
      </div>
    </div>
  </div>
  <!-- My JavaScript-->
  <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
  <script type="module" src="/js/course.js"></script>
  <script type="module" src="/js/logout.js"></script>
</body>
</html>