  <%- include('header') %>
    <div class="app">
      <div class="common">
        <!-- MAIN -->
        <div class="main">
          <div class = "in_progress">
            <h3>In progress</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <a href="#">
                  <img src="images/home/1 - REBUILD THE ECONOMY.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  </a>
                  </div>
                </div>
              <div class="col">
                <div class="card h-100">
                  <a href="#">
                  <img src="images/home/2 - INCOME INEQUALITY.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                  </div>
                  </div>
                </a>
                </div>
              <div class="col">
                <div class="card h-100">
                  <a href="#">
                  <img src="images/home/3 - JOB LOOKING.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class = "all_courses">
            <h3>All courses</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <a href="#">
                  <img src="images/home/4 - BUDGETTING.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  </a>
                  </div>
                </div>
              <div class="col">
                <div class="card h-100">
                  <a href="#">
                  <img src="images/home/5 - RECRUITING.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                  </div>
                  </div>
                </a>
                </div>
              <div class="col">
                <div class="card h-100">
                  <a href="#">
                  <img src="images/home/6 - FINANCES.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                  </div>
                  </a>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <a href="#">
                    <img src="images/home/7 - BANK DEAL.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    </div>
                    </a>
                  </div>
              </div>
          </div>       
          </div>
        <!-- / MAIN -->
        
        <!-- SIDEBAR-RIGHT -->
        <div class="sidebar-right">

          <div id="cal-heatmap"></div>
          <script type="module" src="/js/calender.js"></script>

          <div class="all_progress">
            <p>Roadmap Progress</p>
            <div class="pie" id="all_pie"><span>0%</span></div>
          </div>

        </div>
        <!-- / SIDEBAR-RIGHT -->
        
        <!-- Firebase Javascript-->
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
        <script type="module" src="/js/home.js"></script>
        <script type="module" src="/js/logout.js"></script>
        <script type="module" src="/js/header.js"></script>

    </div>
    </div>
  <%- include('footer') %>
 