<div class="row">
  <!-- sidebar -->
  <div class="w3-sidebar sidebar">
    <div class="image">
      <img src="images/studypage1.jpg" class="image">
    </div>
    <h3>course-1</h3>
    <p>概要説明</p>
  </div>
  
  <!-- stepbar -->
  <div class="wrapper col-1">
    <ul class="c-stepper">
      <a href="/1" class="c-stepper__item"><li class=""></li></a>
      <a href="/2" class="c-stepper__item"><li class=""></li></a>
      <a href="/3" class="c-stepper__item"><li class=""></li></a>
      <a href="/4" class="c-stepper__item"><li class=""></li></a>
      <a href="/5" class="c-stepper__item"><li class=""></li></a>
    </ul>
  </div>
  