<%- include('header') %>

<!-- sidebar -->
<div class="w3-sidebar sidebar">
  <div class="image">
    <img src="images/studypage1.jpg" class="image">
  </div>
  <h3>course-1</h3>
  <p>概要説明</p>
</div>

<!-- contents -->
<div class="wrapper">
  <ol class="c-stepper">
    <li class="c-stepper__item">

      <div class="c-stepper__content">
        <h3 class="c-stepper__title">Step 1</h3>
        <p class="c-stepper__desc" style="line-height: 1.4;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, doloremque ut, eius cum in repellat temporibus rem quod officia eligendi dolores necessitatibus at aperiam accusantium provident consequuntur eaque quaerat fuga.</p>
      </div>
    </li>
    <li class="c-stepper__item">

      <div class="c-stepper__content">
        <h3 class="c-stepper__title">Step 2</h3>
        <p class="c-stepper__desc">Some desc text</p>
        <p class="c-stepper__desc">Some desc text</p>
      </div>
    </li>
    <li class="c-stepper__item">

      <div class="c-stepper__content">
        <h3 class="c-stepper__title">Step 3</h3>
        <p class="c-stepper__desc">Some desc text</p>
        <p class="c-stepper__desc">Some desc text</p>
      </div>
    </li>
  </ol>
</div>

<%- include('footer') %>