* {
	margin: 0;
	padding: 0;
}


.app {
	width: 100%;
	display: flex;
}

/*---------------------------------
　COMMON
---------------------------------*/

.common {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

/*---------------------------------
　SIDEBAR-LEFT
---------------------------------*/

.sidebar-left {
	width: 350px;
	box-sizing: border-box;
	border-right:2px solid #c1c1c1;
	background-color: #f5f5f5;
}
/* .sidebar-left img{
	width:80%;
	margin: 30px;
} */

.sidebar-left a{
	text-decoration: none;
	color: #4072B3;
}
.sidebar-left h1{
	text-align: center;
	font-weight:900;
	margin:50px 0px;
	font-size:45px;
}

.sidebar-left h2 {
	width:200px;
    position: relative;
	margin:0 auto;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid #4072B3;
    transform: perspective(1000px) rotateX(20deg);
    box-shadow: 0px 10px 0px #4072B3;
    background-color: #fff;
    color: #4072B3;
    font-weight: bold;
    font-size: 26px;
	text-align: center;
}

.sidebar-left h2:before {
    position: absolute;
    top: 100%;
    left: 120px;
    transform: skew(25deg);
    height: 35px;
    width: 15px;
    border-left: 13px solid #4072B3;
    background-color: #fff;
    content: "";
}


.sidebar-left .piggy-bank{
	width:55px;
	height:55px;
	margin: 26px 0px 0px 235px;
	text-align:right;
}

.sidebar-left .all_progress{
	margin: 0px 20px;
	border:solid 1px #4072B3;
	border-radius:15%;
}

.sidebar-left p{
	font-size:20px;
	text-align: center;
	font-weight: bold;
	margin-top:20px;
	color:#4072B3;
}

.sidebar-left .pie{
	margin:20px auto;
	width: 150px;
	height: 150px;
	font-size:30px;
	font-weight: bold;
	background-image: radial-gradient(#f2f2f2 60%, transparent 61%), conic-gradient( #eb8686 0% 0%, #d9d9d9 0% 100%);
}
.sidebar-left button{
	font-size:25px;
	color:#4072B3;
	text-align:left;
	background-color: #f5f5f5;
	padding:10px 20px;
	margin:30px 0 0 90px;
	font-weight: 500;
	border:solid 1px #4072B3;
}


/*---------------------------------
　学習画面
---------------------------------*/

.main {
	width:1000px;
	margin-left:100px;
	font-family: 'Zen Maru Gothic', sans-serif;
	color:#545454;
    display: block;

}

.main h1{
	margin:50px 0 30px 40px;
	font-weight:700;
	font-size:50px;
}

.main img {
    width:800px;
	height:420px;
	display:block;
	margin-right:auto;
	border-radius: 80px;
	padding-top: 30px;
}

.main-contents h4 {
    margin: 110px 0px 30px 30px;
    width: fit-content;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: white;/*背景色*/
    border-left: solid 5px #6088C6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    font-family: "游ゴシック体","YuGothic";
}

.contents-table li {
    font-size: 17px;
    line-height: 1.8;
    font-family: "游ゴシック体","YuGothic";
    padding: 0.3em 0; /*前後の文との余白*/
}

.contents-table ul {
    background: #fcfcfc;/*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
    border: solid 3px gray;/*線の種類 太さ 色*/
    width: 700px;
    margin-left: 50px;
}

.main-contents p {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 17px;
    line-height: 1.5;
    font-family: "游ゴシック体","YuGothic";
}
  
.main-contents mark {
    background: linear-gradient(transparent 40%, #FFFF33);
}
  
.kind {
    font-size: 18px;
    padding: 20px 0 15px 35px;
    font-family: "游ゴシック体","YuGothic";
    margin-top: 30px;
}

/*---------------------------------
　contents-table
---------------------------------*/
.main-contents li {
    list-style: none;
    padding-left: 30px;
}

/*---------------------------------
　linkcard
---------------------------------
.linkcard {
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.linkcard-images img {
    width: 170px;
    height: 150px;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}

.linkcard-images:before {
    padding-top: 100%;
}

.linkcard h5 {
    display: flex;
}

h5.linkcard-title {
    width: 300px;
    margin-left: 20px;
    vertical-align: middle;
    display: flex;
}
*/

/*---------------------------------
　linkcard (bootstrap)
---------------------------------*/
.d-flex.position-relative {
    margin-left: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 0 rgba(106, 106, 106, 0.5);
    height: 140px;
    width: 920px;
}

.d-flex.position-relative p {
    font-size: 14px;
    padding-left: 0;
    margin-left: 0;
}

.flex-shrink-0.me-3 {
    width: 140px;
    height: 140px;
    border-radius: 0;
    padding: 0;
}

.stretched-link {
    font-size: 12px;
    font-family: "游ゴシック体","YuGothic";
    padding-bottom: 10px;
}

.mt-0 {
    padding-top: 20px;
    padding-right: 10px;
    font-family: "游ゴシック体","YuGothic";
    font-weight: bold;
    font-size: 18px;
    color: black;
}

/*---------------------------------
　checkbox
---------------------------------*/

.checkbox-style label, input [type="checkbox"] {
    line-height: 2;
    font-size: 17px;
    padding-left: 10px; 
    position: relative;
    font-family: "游ゴシック体","YuGothic";
}
  
input [type="checkbox"] {
    transform: scale(3);
}
  
.checkbox-style {
    margin-left: 50px;
}

#course_complete{
    border:solid 1px #4072B3;
    margin:25px 0 0 50px;
}


/*---------------------------------
　form
----------------------------------*/
.form-link {
    width: 900px;
    margin: 50px 0 40px 50px;
    padding: 30px 30px;
    background-color: rgba(245, 245, 245, 0.895);
}

.comment-list p {
    
    margin: 90px 0 40px 0px;
    background-color: rgba(245, 245, 245, 0.895);
    padding-left: 5px;
    /* height: 200px; */
}

/* シェアされたコメント表示部分 */
.balloon-left-parent {
    width:100%;
    background:#FFF;
    padding:0;
    position:relative;
  }

  .balloon-left-parent .balloon-left-child {
    background:#FFF;
    position:relative;
    padding:10px 0;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .balloon-left-parent .balloon-left-child::after  {
    content: ' ';
    width:0;
    height: 0;
    position:absolute;
    border:10px solid transparent;
    border-right-color:#FFF;
    top:25%;
    right:100%;
}


/*---------------------------------
　sns-share
----------------------------------*/
.sns-share-btn {
    margin-left: 70px;
}

.sns-share-btn li {
    list-style: none;
    display: inline-block;
    padding:0 10px;
    margin-bottom: 30px;
}

.sns-link img {
    height: 80px;
    width: 50px;
    border-radius: 0;
}

/*---------------------------------
　sns-share
----------------------------------*/
#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 10px;
    bottom: 0;
    opacity: 0;
    transition: all 1s ease;
}

#page_top.show {
    opacity: 1;
    transform: none;
}

#page_top a {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 30px;
    color: #4072B3;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page_top a::after {
    content: 'TOP';
    font-size: 18px;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #4072B3;
}