* {
	margin: 0;
	padding: 0;
}


.app {
	width: 100%;
	display: flex;
	flex-direction: column;
}

/*---------------------------------
　COMMON
---------------------------------*/

.common {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

/*---------------------------------
　SIDEBAR-LEFT
---------------------------------*/

.sidebar-left {
	width: 300px;
	box-sizing: border-box;
	border-right:2px solid #c1c1c1;
	background-color: whitesmoke;
	color:#4072B3;
}
.sidebar-left h1{
	text-align: center;
	font-weight:900;
	margin:50px 0px;
	font-size:35px;
	
}

.sidebar-left li{
	list-style: none;
	margin-top:20px;
}

.sidebar-left button{
	font-size:25px;
	color:#4072B3;
	text-align:left;
	background-color: whitesmoke;
	padding:10px 30px;
	font-weight: 500;
	border:none;
}

/*---------------------------------
　MAIN
---------------------------------*/

.main {
  display: flex;
	flex-direction: column;
	flex-grow: 1;
  background-color: whitesmoke;
  padding: 50px 50px;
}

.main img {
  width:750px;
	height:420px;
	display:block;
	margin-right:auto;
	border-radius: 80px;
	padding-top: 30px;
}

/*----------------------------------
  main-contents
-----------------------------------*/

.contents-title {
	margin: 0px 0px 15px 30px;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight:700;
	font-size:50px;
  color:#545454;
}

.main-contents h4 {
  margin: 75px 0px 30px 30px;
  width: fit-content;
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: white;/*背景色*/
  border-left: solid 5px #6088C6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.main-contents p {
  width: 950px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 1.5;
}

.main-contents mark {
  background: linear-gradient(transparent 40%, #FFFF33);
}

.kind {
  font-size: 18px;
  padding-left: 35px;
  padding-bottom: 15px;
}

  
/*----------------------------------
  目次
-----------------------------------*/

.contents-table ul {
    border: solid 2px #EB8686;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
    margin: 0px 100px 0px 60px;
}
  
.contents-table ul li {
    line-height: 1.5;
    list-style-type: none!important;
}
  
.contents-table ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\F231";/*アイコンの種類*/
    position: absolute;
    left : 1em;/*左端からのアイコンまでの距離*/
    color: #EB8686;/*アイコン色*/
}

.headline {
    font-weight: bold;
    font-size: 25px;
    padding-top: 40px;
}

.contents {
    padding-bottom: 30px;
}

.checkbox-style label, input [type="checkbox"] {
  line-height: 2;
  font-size: 17px;
  padding-left: 10px; 
  position: relative;
}

input [type="checkbox"] {
  transform: scale(2);
}

.checkbox-style {
  margin-left: 30px;
}

.iframely-responsive {
  width: 200px;
}


/*--------------------------------
  link-card
---------------------------------*/
.lkc-internal-wrap {
  background-color: white;
  width: 900px;
  height: 150px;
  margin-left: 30px;
}

.lkc-contents {
  display: flex;
  vertical-align: middle;
  position: absolute;
}

.lkc-thumbnail img {
  width: 250px;
  height: 150px;
}

.lkc-title-text p {
  margin: 80px 0 0 30px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.lck-url {
  margin: 0 0 0 30px;
  font-size: 14px;
  color: #333333;
}

.lkc-link {
  text-decoration: none;
}


/*-------------------------------
   sns-share-button
---------------------------------*/
.icon::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f099';
  font-weight: 900;
}




.sns-circle {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #55acee;
}

.sns-circle a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-indent: -999px;
  color: #fff;
}

.footer h3 {
  margin: 10px 0px 0px 40px;
  font-size: 25px;
}

.footer {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}


.sns-share {
  background-color: var(--cocoon-twitter-color);
  flex-direction: column;
  display: flex;
  line-height: 16px;
}

.sns-share-buttons a {
  font-size: 14px;
  margin-left: 4px;
}

.sns-share a {
  width: 32%;
}

.sns-buttons a {
  display: block;
  background-color: var(--cocoon-text-color);
  text-align: center;
  color: var(--cocoon-white-color);
  text-decoration: none;
  border-radius: var(--cocoon-basic-border-radius);
  height: 45px;
}
