* {
	margin: 0;
	padding: 0;
}


.app {
	width: 100%;
	display: flex;
	flex-direction: column;
}

/*---------------------------------
　COMMON
---------------------------------*/

.common {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Zen Maru Gothic', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

/*---------------------------------
　HEADER
---------------------------------*/

.header {
	display: flex;
    width: 100vw;
	height: 150px;
    background-color: white;
	font-family: 'Erica One', cursive;
}

.header a{
  text-decoration:none;
  margin-left: 100px;
  color: #5AC8FA;
  font-size:120px;
  transition: all 0.5s ease;
}

.header .text {
	color: #5AC8FA;
	font-size:80px;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.5s ease; /* アニメーションの時間とイージングを調整してください */
}

.header .ButtonContainer {
  display: flex;
  gap: 10rem;
  font-size:30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin:0 200px 0 auto;
}

.header button {
  border: none;
  background: transparent;
}


/*---------------------------------
　[home] SIDEBAR-RIGHT
---------------------------------*/


.sidebar-right {
	width:350px;
	box-sizing: border-box;
}

/**    calendar     **/

.sidebar-right #cal-heatmap{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:30px;
}

/**    pie     **/

.sidebar-right .pie {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:30px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
	font-size: 40px;
	font-weight: 700;
	color: #FF6600;
	background-image: radial-gradient(#ffffff 60%, transparent 61%), conic-gradient(#FF6600 0% 60%, #F9B590 60% 100%);
	border-radius: 50%;
}
/*---------------------------------
　[home] MAIN
---------------------------------*/

.main {
	width:300px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main h3{
	font-family: 'Roboto', sans-serif;
	font-size:25px;
	margin-bottom:20px;
}

.main img{
	height: 200px;
    object-fit: cover;
}

.main a{
	text-decoration: none;
}

.in_progress{
	margin:30px 150px;
	width:80%;
}

.all_courses{
	margin:30px 150px;
	width:80%;
}

/* .row{
	gap:30px;
}

.col{
	width:25%;
} */
