* {
	margin: 0;
	padding: 0;
}


.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/*---------------------------------
　HOME
---------------------------------*/

.home {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/*---------------------------------
　SIDEBAR-LEFT
---------------------------------*/

.sidebar-left {
	width: 300px;
	background-color: whitesmoke;
	box-sizing: border-box;
}
.sidebar-left h1{
	text-align:center;
	border:1px solid;
	padding:10px;
	margin:30px;
	margin-bottom:50px;
}
.sidebar-left li{
	list-style: none;
	margin:25px;
}

.sidebar-left button{
	font-size:25px;
	background-color: whitesmoke;
}

/*---------------------------------
　SIDEBAR-RIGHT
---------------------------------*/

.sidebar-right {
	width:400px;
	background-color: whitesmoke;
	box-sizing: border-box;
}

.sidebar-right .account{
	display:flex;
	
}

.sidebar-right .account p{
	font-size:25px;
	margin:45px 0 0 180px;
}

.sidebar-right i{
	font-size:60px;
	margin: 10px 0 0 auto;
	margin-right:30px;
}

.sidebar-right #cal-heatmap{
	margin: auto; 
	margin-top:30px;
	width: 30%;
}

.sidebar-right #cal-heatmap p{
	font-size: 20px;
}

/*---------------------------------
　MAIN
---------------------------------*/

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.content {
	flex-grow: 1;
	background-color: white;
	box-sizing: border-box;
}

.content img{
	width:700px;
	height:350px;
	display:block;
	margin:auto;
}
