<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>

<!-- contents -->
  <div class="study-main col-8">
    <h1>2. 資産形成</h1>
    <!-- <img src="/images/studypage1.jpg" class="image"> -->
    
    <h4 id="title2">学ぶ必要性</h4>
    <p>「資産形成」はセカンドライフを楽しむ鍵ともなります。 寿命が延びたことで、退職後のセカンドライフの期間も長くなっています。 自由な時間が増える一方、その分お金がかかる期間も長くなり、老後の生活費を確保するためや少子高齢化が進展されると予想されている現代で社会保障制度が今後どうなるかわからない状況であるため、自分の資産を増やす方法を学んで、今後の生活資金の確保につなげましょう。また、税金や金融商品の知識がないまま始めてしまうと、失敗すると資産が減るというリスクが高まります。自分に合う方法と目標を設定するためにも、自分自身のライフプランをしっかりと見つめ直しましょう。</p>

  <button type="button" class="btn btn-outline-primary" id="step_complete" data-course-number="2-2">学習完了！</button>

  <!-- back to top button -->
  <div id="page_top">
    <a href="#"></a>
  </div>
  <!-- // back to top button --> 

  <!-- // MAIN -->
  </div>
</div>

<%- include('../footer.ejs') %>
