<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>

<!-- contents -->
  <div class="study-main col-8">
    <h1>2. 資産形成</h1>
    <!-- <img src="/images/studypage1.jpg" class="image"> -->
    
    <h4 id="title3">まずはここから！</h4>
    <p class="guide">↓資産形成の勉強方法・運用方法がわかる！↓</p>
    <div class="d-flex position-relative">
      <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理基本3つ">
      <div>
        <h5 class="mt-0">資産形成の勉強は何から始める？効率よく学ぶコツをわかりやすく解説｜みんかぶ</h5>
        <p></p>
        <a href="https://mag.minkabu.jp/asset-formation/asset-building-learning/" class="stretched-link">https://mag.minkabu.jp/asset-formation/asset-building-learning/</a>
      </div>
    </div>
    <br>
    <p class="guide">↓お金の運用方法がより詳しくわかる！↓</p>
    <div class="d-flex position-relative">
      <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理の方法">
      <div>
        <h5 class="mt-0">投資の基本｜金融庁</h5>
        <p></p>
        <a href="https://www.fsa.go.jp/policy/nisa2/knowledge/basic/index.html" class="stretched-link">https://www.fsa.go.jp/policy/nisa2/knowledge/basic/index.html</a>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary" id="step_complete" data-course-number="2-3">学習完了！</button>
    
        
    <!-- back to top button -->
    <div id="page_top">
      <a href="#"></a>
    </div>
    <!-- // back to top button --> 

  <!-- // MAIN -->
  </div>
</div>

<%- include('../footer.ejs') %>
