<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>

<!-- contents -->
  <div class="study-main col-8">
    <h1>2. 資産形成</h1>
    <!-- <img src="/images/studypage1.jpg" class="image"> -->
          
    <h4 id="title4">実際にシミュレーションしてみよう</h4>
    <div class="d-flex position-relative">
      <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="資産形成a">
      <div>
        <h5 class="mt-0">資産形成の勉強は何から始める？ | MINKABU</h5>
        <p> </p>
        <a href="https://mag.minkabu.jp/asset-formation/asset-building-learning/" class="stretched-link">https://www.fsa.go.jp/teach/simulation/household_spending.html</a>
      </div>
    </div>
    <br>
    <div class="d-flex position-relative">
      <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="資産形成a">
      <div>
        <h5 class="mt-0">投資の基本 | 金融庁</h5>
        <p></p>
        <a href="https://www.fsa.go.jp/policy/nisa2/knowledge/basic/index.html" class="stretched-link">https://www.jafp.or.jp/know/lifeplan/simulation/</a>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary" id="course_complete">学習完了！</button>
        
  <!-- back to top button -->
    <div id="page_top">
      <a href="#"></a>
    </div>
  <!-- // back to top button --> 

  <!-- // MAIN -->
  </div>
</div>

<%- include('../footer.ejs') %>
