<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>

<!-- contents -->
  <div class="study-main col-8">
    <h1>2. 資産形成</h1>
    <!-- <img src="/images/studypage1.jpg" class="image"> -->
          
    <h4 id="title5">学びを確認しよう</h4>
    <div class="checkbox-style">
      <input type="checkbox" name="check" id="check1" onclick="btn();" value="1"><label for="check1">資産形成とは何か理解できた</label><br>
      <input type="checkbox" name="check" id="check2" onclick="btn();" value="2"><label for="check2">資産形成を行う2つの方法を理解できた</label><br>
      <input type="checkbox" name="check" id="check3" onclick="btn();" value="3"><label for="check3">資産形成を学ぶ必要性について理解できた</label><br>
      <input type="checkbox" name="check" id="check4" onclick="btn();" value="4"><label for="check4">記事をチェックした</label><br>
      <input type="checkbox" name="check" id="check5" onclick="btn();" value="5"><label for="check5">シミュレーションを体験できた</label><br>
    </div>
    <button type="button" class="btn btn-outline-primary" id="course_complete" data-course-number="2-5">コース完了！</button>

        
    <!-- back to top button -->
    <div id="page_top">
      <a href="#"></a>
    </div>
    <!-- // back to top button --> 

  <!-- // MAIN -->
  </div>
</div>
  
<%- include('../footer.ejs') %>
