<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>

<!-- contents -->
<div class="study-main col-8">
  <h1>2. 資産形成</h1>
  <!-- <img src="/images/studypage1.jpg" class="image"> -->
          
  <h4 id="title1">概要</h4>
  <p>将来に向けてお金を準備するには、「資産形成」を行っていくことになります。「資産形成」とは自分の資産を増やすことが目的で、「貯蓄」と「投資」の2つの方法があります。一般的に「貯蓄」はお金を蓄えることで、銀行の預金などが該当します。
      一方、「投資」は利益を見込んでお金を出すことで、株式や投資信託などの購入が該当します。日常生活にかかる費用を始めとしたすぐに必要となるかもしれないお金は「貯蓄」が向いています。将来のために増やしておきたいお金は株式や投資信託を利用した「投資」で、ある程度先を見越した備えのため活用するのに向いています。
      また、「投資」には複利効果やリスクなどがあるためそれぞれの種類や内容を正しく理解することが重要です。</p>
  
  <button type="button" class="btn btn-outline-primary" id="step_complete" data-course-number="2-1">学習完了！</button>
  
  <!-- back to top button -->
  <div id="page_top">
    <a href="#"></a>
  </div>
  <!-- // back to top button --> 

<!-- // MAIN -->
</div>
</div>

<%- include('../footer.ejs') %>
