<div class="row">
  <!-- sidebar -->
  <div class="w3-sidebar sidebar">
    <div class="image">
      <img src="images/studypage1.jpg" class="image">
    </div>
    <h3>2. 資産形成</h3>
    <p>資産形成は、収入を得てそれを適切に運用し、投資や貯蓄を通じて資産の価値を増やすプロセスです。個人や家族、企業などが長期的な視点で資産を増やすことを意味し、それらはセカンドライフを楽しむ鍵にもなります。</p>
  </div>
  
  <!-- stepbar -->
  <div class="wrapper col-1">
    <ul class="c-stepper" id="c-stepper">
      <a href="/1" class="is-current" id="item1"><li class=""></li></a>
      <a href="/2" class="c-stepper__item" id="item2"><li class=""></li></a>
      <a href="/3" class="c-stepper__item" id="item3"><li class=""></li></a>
      <a href="/4" class="c-stepper__item" id="item4"><li class=""></li></a>
      <a href="/5" class="c-stepper__item" id="item5"><li class=""></li></a>
    </ul>
  </div>
  