<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>

<!-- MAIN -->
<div class="study-main col-8">
  <h1>1. 家計管理 & 生活設計</h1>
  <!-- <img src="/images/studypage1.jpg" class="image"> -->


  <h4 id="title3">まずはここから！</h4>
  <div class="kind">【家計管理】</div>
  <p>↓家計管理の基本3つがわかる！↓</p>
  <div class="d-flex position-relative">
    <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理基本3つ">
    <div>
      <h5 class="mt-0">若年層への情報提供に向けて押さえておきたい家計管理の基本とポイント｜バンクビジネス</h5>
      <p></p>
      <a href="https://www.fsa.go.jp/teach/kyouiku/01/02.pdf" class="stretched-link">https://www.fsa.go.jp/teach/kyouiku/01/02.pdf</a>
    </div>
  </div>
  <br>
  <p>↓家計管理を成功させる方法がわかる！↓</p>
  <div class="d-flex position-relative">
    <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理の方法">
    <div>
      <h5 class="mt-0">継続が大切！上手にお金をためる家計管理の方法とは？｜りそなグループ</h5>
      <p></p>
      <a href="https://www.resonabank.co.jp/kojin/column/shisan_kihon/column_0016.html" class="stretched-link">https://www.resonabank.co.jp/kojin/column/shisan_kihon/column_0016.html</a>
    </div>
  </div>
  <br>
  <div class="kind">【生活設計】</div>
  <p>↓「ライフプランを立てることの意味とは」、「人生の３大支出とは」、「生涯の生活設計の方法」がわかる！↓</p>
  <div class="d-flex position-relative">
    <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理の方法">
    <div>
      <h5 class="mt-0">ライフプランとは何だろう？【20〜30代向け】必要性や人生設計の作り方を解説 | iyomemo（いよめも）</h5>
      <p></p>
      <a href="https://www.iyobank.co.jp/sp/iyomemo/entry/20211104.html" class="stretched-link">https://www.iyobank.co.jp/sp/iyomemo/entry/20211104.html</a>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary" id="course_complete">学習完了！</button>

    
<!-- back to top button -->
  <div id="page_top">
    <a href="#"></a>
  </div>
<!-- // back to top button --> 

    <!-- // MAIN -->
  </div>
</div>

<%- include('../footer.ejs') %>