<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title id="title">1</title>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="/css/studypage.css">
    
    
    <!-- Font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Zen+Maru+Gothic:wght@400;500;700&display=swap" rel="stylesheet">
  
    <!-- font Awesome -->
    <script src="https://kit.fontawesome.com/c7047e245b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  </head>
  <body>
    <%- include('header') %>
    <div class="app">
      <div class="common">
        
         <!-- SIDEBAR-LEFT -->
         
        <!-- // SIDEBAR-LEFT -->

        
        <!-- MAIN -->
        <div class="main">
            <h1>1. 家計管理 & 生活設計</h1>
            <img src="/images/studypage1.jpg" class="image">
          
    
            h4 id="title3">まずはここから！</h4>
            <div class="kind">【家計管理】</div>
            <p>↓家計管理の基本3つがわかる！↓</p>
             <div class="d-flex position-relative">
                <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理基本3つ">
                <div>
                  <h5 class="mt-0">若年層への情報提供に向けて押さえておきたい家計管理の基本とポイント｜バンクビジネス</h5>
                  <p></p>
                  <a href="https://www.fsa.go.jp/teach/kyouiku/01/02.pdf" class="stretched-link">https://www.fsa.go.jp/teach/kyouiku/01/02.pdf</a>
                </div>
              </div>
            <br>
            <p>↓家計管理を成功させる方法がわかる！↓</p>
              <div class="d-flex position-relative">
                <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理の方法">
                <div>
                  <h5 class="mt-0">継続が大切！上手にお金をためる家計管理の方法とは？｜りそなグループ</h5>
                  <p></p>
                  <a href="https://www.resonabank.co.jp/kojin/column/shisan_kihon/column_0016.html" class="stretched-link">https://www.resonabank.co.jp/kojin/column/shisan_kihon/column_0016.html</a>
                </div>
              </div>
            <br>
            <div class="kind">【生活設計】</div>
            <p>↓「ライフプランを立てることの意味とは」、「人生の３大支出とは」、「生涯の生活設計の方法」がわかる！↓</p>
            <div class="d-flex position-relative">
                <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理の方法">
                <div>
                  <h5 class="mt-0">ライフプランとは何だろう？【20〜30代向け】必要性や人生設計の作り方を解説 | iyomemo（いよめも）</h5>
                  <p></p>
                  <a href="https://www.iyobank.co.jp/sp/iyomemo/entry/20211104.html" class="stretched-link">https://www.iyobank.co.jp/sp/iyomemo/entry/20211104.html</a>
                </div>
              </div>
        
        <!-- back to top button -->
          <div id="page_top">
            <a href="#"></a>
          </div>
        <!-- // back to top button --> 

        <!-- // MAIN -->
      </div>
    </div>
  </div>
  <!-- My JavaScript-->
  <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
  <script type="module" src="/js/course.js"></script>
  <script type="module" src="/js/logout.js"></script>
</body>
</html>