<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/studypage.css"}) %>

<%- include('sidebar.ejs') %>
<!-- MAIN -->
<div class="study-main col-8">
    <h1>1. 家計管理 & 生活設計</h1>
    <!-- <img src="/images/studypage1.jpg" class="image"> -->
  

    <h4 id="title4">実際にシミュレーションしてみよう</h4>
    <div class="d-flex position-relative">
        <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理シミュレーション">
        <div>
          <h5 class="mt-0">家計管理シミュレーター | 金融庁</h5>
          <p> </p>
          <a href="https://www.fsa.go.jp/teach/simulation/household_spending.html" class="stretched-link">https://www.fsa.go.jp/teach/simulation/household_spending.html</a>
        </div>
    </div>
    <br>
    <div class="d-flex position-relative">
        <img src="https://i.ibb.co/GCtt0HL/image.jpg" class="flex-shrink-0 me-3" alt="家計管理シミュレーション">
        <div>
          <h5 class="mt-0">ライフプラン診断 | 日本FP協会</h5>
          <p>9つの質問で診断したい内容を選ぶだけ。10,000ケース以上のライフスタイルから将来の家計を診断できます。</p>
          <a href="https://www.jafp.or.jp/know/lifeplan/simulation/" class="stretched-link">https://www.jafp.or.jp/know/lifeplan/simulation/</a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary" id="step_complete" data-course-number="1-4">学習完了！</button>

    
    <!-- back to top button -->
      <div id="page_top">
        <a href="#"></a>
      </div>
    <!-- // back to top button --> 

    <!-- // MAIN -->
  </div>
</div>

<%- include('../footer.ejs') %>