<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/style.css"}) %>

<%- include('sidebar.ejs') %>

<!-- contents -->
<div class="study-main col-8">
  <h1>1. 家計管理 & 生活設計</h1>
  <!-- <img src="/images/studypage1.jpg" class="image"> -->

  <h4 id="title1">概要</h4>
  <p><mark>家計管理とは、毎月の生活費をきちんと把握し、適切な収支管理をすること</mark>で、今後のさまざまなライフプランの資金や不測の事態への備えを準備することです。</p>
  <p>毎月の生活費は いくらかかっていますか? まず、家計の現状を把握することか 始めましょう。「毎月の収入は?」、「毎月の食費はどれくらいかかっている?」、「光熱費は?」、「交際費は?」というように項目ごとに把握した上で、収支のバランスが取れているかどうかをチェックしてみましょう。</p>
  <br>
  <p><mark>生活設計とは、人生に必要な資金を計画的に考え、ライフプランとその資金計画を作ること</mark>です。それぞれの価値観にもとづく生き方や構想を踏まえた“人生の計画図”をさしています。</p>
  <p>人生の3大費用といわれる「教育・住宅・老後」のための費用など、ライフイベントにはまとまったお金が必要になります。ライフプランを立てることで、いつ、どのくら いのお金が必要になるのかが分かれば、計画的に備えることができるようになります。働いて得たお金を適切に貯蓄・運用したり、必要に応じて借入れなどを行ったりして、計画的に準備していきましょう。</p>

  <button type="button" class="btn btn-outline-primary" id="step_complete" data-course-number="1-1">学習完了！</button>


  <!-- back to top button -->
    <div id="page_top">
      <a href="#"></a>
    </div>
  <!-- // back to top button --> 
</div>
</div>

<%- include('../footer.ejs') %>
