<%- include('../header.ejs', {css: "/css/style.css", css2: "/css/style.css"}) %>

<%- include('sidebar.ejs') %>

<!-- MAIN -->
<div class="study-main col-8">
  <h1>1. 家計管理 & 生活設計</h1>
  <!-- <img src="/images/studypage1.jpg" class="image"> -->
  

  <h4 id="title2">学ぶ必要性</h4>
  <div class="kind">【家計管理】</div>
  <p>家計を適切に管理することで、<mark>無駄遣いを減らし、お金の使い方を見直すこと</mark>ができます。その結果、家計にも余裕が生まれ、将来に向けた資金計画が立てやすくなります。そこで役立つのが使ったお金を記録する家計簿です。記録することで使ったお金の額や、使い方の特徴が分かります。最近では、専用アプリなどで支出額を管理する人も増えています。利用しやすい家計簿を選び、支出を管理する習慣をつけておきましょう。</p>
  <br>
  <div class="kind">【生活設計】</div>
  <p>20～30代はまだ単身者が多い年代のため、ライフプランを真剣に考える人が少ない傾向にあります。しかし、結婚してからはマイホームや子育てなど立て続けにお金が必要なライフイベントが起き、あっという間に老後生活も近付いてくることでしょう。<mark>いざというとき「お金が足りない」と困らないため</mark>にも、ライフプランはなるべく早く立てておきましょう。</p> 

  <button type="button" class="btn btn-outline-primary" id="step_complete" data-course-number="1-2">学習完了！</button>

<!-- back to top button -->
  <div id="page_top">
    <a href="#"></a>
  </div>
<!-- // back to top button --> 

<!-- // MAIN -->
</div>
</div>
  
<%- include('../footer.ejs') %>