<div class="row">
  <!-- sidebar -->
  <div class="w3-sidebar sidebar">
    <div class="image">
      <img src="images/studypage1.jpg" class="image">
    </div>
    <h3>1. 家計管理 & 生活設計</h3>
    <p>家計管理とは、今後の資金や備えとして毎月の生活費をきちんと把握し、適切な収支管理をすることです。生活設計とは、人生に必要な資金を計画的に考え、ライフプランとその資金計画を作ることです。</p>
  </div>
  
  <!-- stepbar -->
  <div class="wrapper col-1">
    <ul class="c-stepper" id="c-stepper">
      <a href="/1" class="is-current" id="item1"><li class=""></li></a>
      <a href="/2" class="c-stepper__item" id="item2"><li class=""></li></a>
      <a href="/3" class="c-stepper__item" id="item3"><li class=""></li></a>
      <a href="/4" class="c-stepper__item" id="item4"><li class=""></li></a>
      <a href="/5" class="c-stepper__item" id="item5"><li class=""></li></a>
    </ul>
  </div>
  